/* Hover underline animation */
.custom-sticky {
  position: sticky;
  top: 0;
  z-index: 1030;
  background-color: white; /* Make sure background is not transparent */
}

.link-underline {
  position: relative;
  display: inline-block;
  transition: color 0.3s ease;
}

.link-underline::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 0%;
  height: 2px;
  background-color: #0a4275;
  transition: width 0.3s ease-in-out;
}

.link-underline:hover::after {
  width: 60%;
}
